@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/function";
#navbarCollapse{
    flex-grow: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#partnership{
    background-image: url(../images/istockphoto-681622484-170667a.jpg)
}
  @import "../../node_modules/bootstrap/scss/bootstrap.scss";